* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        url('/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex: 1;
}

.contact-left h1 {
    font-size: 40px;
    text-align: center;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3e4a5a;
}

.form-group input {
    font-size: 14px;
    width: 400px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
}

.form-group input:focus {
    border: 2px solid #81ABD3;
}

button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #8AB7E2;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #81ABD3;
}

.contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-right img {
    max-width: 450px;
    height: auto;
    border-radius: 10px;
}

.contact-container-s {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.contact-container-s i {
    font-size: 100px;
    color: #4caf50;
}

.contact-container-s h1 {
    color: #4caf50;
}

.contact-container-s p {
    margin-top: 5px;
    color: #3e4a5a;
}

.contact-container-s a {
    margin-top: 30px;
    width: fit-content;
    color: #81ABD3;
    text-align: center;
}

@media (max-width: 800px) {
    .form-group input{
        width: 80vw;
    }
    .contact-right {
        display: none;
    }
    
}