body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 500px;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* เพิ่ม box-sizing */
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #6562b3;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3e4a5a;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

button {
    margin-top: 30px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6562b3;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #7371b3;
}
